body {
    font-family: 'Pacifico', cursive;
}

.container, .results {
    width: 400px;
    padding: 10px;
    margin: 50px auto;
    border: 5px solid #bbffff;
    border-radius: 20px;
    background-color: #31D2FD;
    
    transition: background-color .5s ease-in-out;
    transition: border .2s ease-in-out;
}

.container:hover {
    background-color: #FE1A1A;
    border-color: #FE1A1A;
}